In [ ]:
''' 
Solutions to following questions

Q. 1)  Find all the unique 'Wind Speed' values in the data.
Q. 2) Find the number of times when the 'Weather is exactly Clear'.
Q. 3) Find the number of times when the 'Wind Speed was exactly 4 km/h'.
Q. 4) Find out all the Null Values in the data.
Q. 5) Rename the column name 'Weather' of the dataframe to 'Weather Condition'.
Q. 6) What is the mean 'Visibility' ?
Q. 7) What is the Standard Deviation of 'Pressure'  in this data?
Q. 8) What is the Variance of 'Relative Humidity' in this data ?
Q. 9) Find all instances when 'Snow' was recorded.
Q. 10) Find all instances when 'Wind Speed is above 24' and 'Visibility is 25'.
Q. 11) What is the Mean value of each column against each 'Weather Condition ?
Q. 12) What is the Minimum & Maximum value of each column against each 'Weather Condition ?
Q. 13) Show all the Records where Weather Condition is Fog.
Q. 14) Find all instances when 'Weather is Clear' or 'Visibility is above 40'.
Q. 15) Find all instances when :
A. 'Weather is Clear' and 'Relative Humidity is greater than 50'
or
B. 'Visibility is above 40'
'''

In [17]:
# reading data
import pandas as pd
data = pd.read_csv("Weather Data.csv")

In [22]:
# preview data
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [26]:
# Answer 1
# unique values in column Wind Speed
print(data['Wind Speed_km/h'].nunique())
print(data['Wind Speed_km/h'].unique())
data.nunique()

34
[ 4  7  6  9 15 13 20 22 19 24 30 35 39 32 33 26 44 43 48 37 28 17 11  0
 83 70 57 46 41 52 50 63 54  2]

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [37]:
# Answer 2 
# number of times when the 'Weather is exactly Clear'

data['Weather'].value_counts() # using value count
data[data.Weather == 'Clear'].count()  # using filtering & boolean
data.groupby('Weather').get_group('Clear') # using groupby and get_group

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [51]:
# Answer 3
# number of times when the 'Wind Speed was exactly 4 km/h'
data.columns
data[data['Wind Speed_km/h'] == 4].count()

Date/Time           474
Temp_C              474
Dew Point Temp_C    474
Rel Hum_%           474
Wind Speed_km/h     474
Visibility_km       474
Press_kPa           474
Weather             474
dtype: int64

In [60]:
# Answer 4
# the Null Values in the data
data.isnull().sum()  # using isnull() function
data.notnull().count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [72]:
# Answer 5
# Rename the column name 'Weather' of the dataframe to 'Weather Condition'.
data.rename(columns = {'Weather':'Weather Condition'}) # Temporary
data['Weather'].rename('Weather Condition')            # Temporary
data.rename(columns = {'Weather':'Weather Condition'}, inplace = True) # Permanent

In [73]:
data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [77]:
# Answer 6
# What is the mean 'Visibility' ?
data.Visibility_km.mean()

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather Condition'],
      dtype='object')

In [82]:
# Answer 7
# What is the Standard Deviation of 'Pressure'  in this data?

data['Press_kPa'].std()

0.8440047459486483

In [81]:

# Answer 8 
# What is the Variance of 'Relative Humidity' in this data ?
data['Rel Hum_%'].var()

286.24855019850196

In [85]:

# Answer 9
# Find all instances when 'Snow' was recorded.

data[data['Weather Condition'] == 'Snow'].count()

Date/Time            390
Temp_C               390
Dew Point Temp_C     390
Rel Hum_%            390
Wind Speed_km/h      390
Visibility_km        390
Press_kPa            390
Weather Condition    390
dtype: int64

In [94]:

# Answer 10     
# Find all instances when 'Wind Speed is above 24' and 'Visibility is 25'.
data[(data['Wind Speed_km/h'] > 24) & (data['Visibility_km'] == 25)].count()

Date/Time            308
Temp_C               308
Dew Point Temp_C     308
Rel Hum_%            308
Wind Speed_km/h      308
Visibility_km        308
Press_kPa            308
Weather Condition    308
dtype: int64

In [ ]:
# Answer 11
# What is the Mean value of each column against each 'Weather Condition ?
data.groupby('Weather Condition').mean()

In [ ]:
# Answer 12
# What is the Minimum & Maximum value of each column against each 'Weather Condition ?
data.groupby('Weather Condition').max()

In [ ]:
# Answer 12
data.groupby('Weather Condition').min()

In [103]:
# Answer 13
# Show all the Records where Weather Condition is Fog.
data[data['Weather Condition'] == 'Fog'].count()
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather Condition'],
      dtype='object')

In [105]:
# Answer 14
# Find all instances when 'Weather is Clear' or 'Visibility is above 40'.
data[(data['Weather Condition'] == 'Clear') | (data['Visibility_km'] > 40)].count()

Date/Time            3027
Temp_C               3027
Dew Point Temp_C     3027
Rel Hum_%            3027
Wind Speed_km/h      3027
Visibility_km        3027
Press_kPa            3027
Weather Condition    3027
dtype: int64

In [107]:
# Answer 15
# Find all instances when :
# A. 'Weather is Clear' and 'Relative Humidity is greater than 50'
# or
# B. 'Visibility is above 40'

data[((data['Weather Condition'] == 'Clear') & (data['Rel Hum_%'] > 50)) | (data['Visibility_km'] > 40) ]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
106,1/5/2012 10:00,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,1/5/2012 11:00,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,1/5/2012 12:00,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,1/5/2012 13:00,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
110,1/5/2012 14:00,-5.1,-10.7,65,22,48.3,100.46,Mainly Clear
...,...,...,...,...,...,...,...,...
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear